<%- include('bootheader') -%>
<%- include('menubar') -%>

  <div class="jumbotron">

  <h1> Planner Items </h1>
  <p style="font-size:1vw;">List of all planner items </p>
  <hr>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Month</th><th>Week</th><th>userId</th>
        <th>Task Name</th><th>Time used</th><th>Start Time</th>
        <th>End Time</th><th>Data Created</th>
      </tr>
    </thead>
    <tbody>
  <% for(let i=0; i<plannerItems.length; i++){
      planner = plannerItems[i]
      console.log(`i=${i} document=${planner}`)
  %>
    <tr>
      <td><%= planner.month%></td>
      <td><%= planner.week %></td>
      <td>
        <a href="/plannerremove/<%= planner._id %>"> X </a>
          <%= planner.userId %>
      </td>
      <td><%= planner.item %></td>
      <td><%= planner.time %>mins</td>
      <td><%= planner.startTime %></td>
      <td><%= planner.endTime %></td>
      <td><%= planner.createdAt %></td>

    </tr>
  <%}%>

  <div class = "col">
    <h2> Go Back to my planner</h2>
    <a href="/planner"> go back </a>
    <hr>
  </div>
  </div>

<%- include('bootfooter') -%>
