<%- include('bootheader') -%>
<%- include('menubar') -%>
      <div class = "row">
      <div class = "col bg-warning">
        <h1><%=fullName%>'s Socialize Card</h1><br>
        <p>Hi everybody, my name is <%=fullName%></p>
        <p>And my nickName is <%=nickName%>!</p>
        <p>I have lived on this earth for <%=ageInDays%> days!</p>
        <p>I think the most important thing in a friendship is...</p>
        <h2><%=values%>! </h2><br><br>
        <h2> My fun fact is...</h2>
        <p><%=fact%></p>
        <p>ask me for more details if you want to be my friend!</p>
      </div>
      <div class = "col">
        <img src = "/images/logo.jpg"
      </div>
    </div>






<%- include('bootfooter') -%>
