<%- include('bootheader') -%>

<%- include('menubar') -%>
<html>
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  h1 {
    text-shadow: 2px 2px lightpink;
  }
  body {
    margin: 0;
  }
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
</style>
</head>
<body>
  <br>
    <div class="jumbotron header">
        <h1>Recommended Ameircan TV shows </h1>
        <p style="font-size:20px"> In case you get bored, here is a list of American TV shows sorted by season number</p>
    </div>
<br>
    <% for(let i=0; i<10; i++){
        n = showsData.length
        d = showsData[n-1-i]  %>
        Name: <%= d['name'] %><br>
        Season number: <%=d['season']%><br>
        URL: <a href = <%=d['url']%>><%=d['url']%>
        </a>
        <hr>
    <%}%>
</body>
</html>


<%- include('bootfooter') -%>
